* {
    box-sizing: border-box;
}

/* Inicio estilos para el carrusel*/
#btn_login{
    margin-right: 5rem;
}

#carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.carousel-item img {
    height: 50rem;
    width: 40rem;
}

/* Fin estilos para el carrusel*/

/* Inicio estilos para el main*/
#main{
    display: flex;
    flex-direction: row;
}

.secciones{
    margin-top: 4rem;
    margin-left: 2rem;
    width: 90%;
}

/*Las secciones se dividen en 3 y se utiliza flexbox para posicionar*/
#seccion1, #seccion2, #seccion3{
    display: flex;
    flex-direction: row;
    background-color: gray;
}

/*El tamaño de las imagenes de las secciones es de 30 rem con margen de 2 rem*/
#sec1_img img{
    width: 25rem;
    height: 25rem;
    margin: 1rem;
    margin-top: 4rem;
}

#sec2_img img{
    width: 25rem;
    height: 25rem;
    margin: 1rem;
    margin-top: 4rem;
}

#sec3_img img{
    width: 25rem;
    height: 25rem;
    margin: 1rem;
    margin-top: 4rem;
}

/*El parrafo de las secciones va con display block para que se mantengan uno encima del otro y color de fondo distinto al del contenedor*/
#sec1_p, #sec2_p, #sec3_p {
    display: block;
    background-color: lightgray;
    margin: 2rem;
}

/*Los titulos van centrados y con margen*/
#sec1_p h1, h5{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#sec2_p h1, h5{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#sec3_p h1, h5{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#sec1_p p{
    margin: 1rem;
    align-items: center;
    font-size: small;
}

#sec2_p p{
    margin: 1rem;
    align-items: center;
    font-size: small;
}

#sec3_p p{
    margin: 1rem;
    align-items: center;
    font-size: small;
}


/*Estilos para el aside*/

.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 20rem;
    height: auto;
    background-color: gray;
}

#aside1 img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

#aside2 img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

#aside3 img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

#aside4 img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

#aside5 img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}
/* Fin estilos para el main*/

